* {
  font-family: azo-sans-web, sans-serif; }

.first-section {
  min-height: 650px; }
  .first-section .jumbotron {
    margin-bottom: 0;
    min-height: 650px;
    background: #00b8f1;
    background: -webkit-linear-gradient(left bottom, #00b8f1, #75d8f4);
    background: -o-linear-gradient(top right, #00b8f1, #75d8f4);
    background: -moz-linear-gradient(top right, #00b8f1, #75d8f4);
    background: linear-gradient(to top right, #00b8f1, #75d8f4); }
    .first-section .jumbotron .pre-register {
      padding: 0;
      color: #fff;
      background: #65c1db;
      font-size: 30px;
      border: 2px solid #fff; }
      .first-section .jumbotron .pre-register:hover {
        background: #00b8f1; }
  .first-section .pre-register-image-container {
    background: url("../images/roome-img-1.jpg") no-repeat;
    background-size: 100%;
    margin-top: -500px;
    -moz-box-shadow: 0 0 50px 5px #ececec;
    -webkit-box-shadow: 0 0 50px 5px #ececec;
    box-shadow: 0px 0px 50px 5px #ececec; }
    @media (max-width: 768px) {
      .first-section .pre-register-image-container {
        width: 90%; } }
    @media (min-width: 1200px) {
      .first-section .pre-register-image-container {
        background-size: cover;
        min-height: 710px; } }
    .first-section .pre-register-image-container .heading {
      font-family: azo-sans-web, sans-serif;
      font-style: normal;
      font-weight: 200;
      color: #fff;
      font-size: 7vw;
      text-shadow: 2px 2px 15px #000;
      padding-top: 0.5em; }
      @media (min-width: 768px) {
        .first-section .pre-register-image-container .heading {
          font-size: 4em;
          padding-top: 0.5em; } }
      @media (min-width: 1200px) {
        .first-section .pre-register-image-container .heading {
          padding-top: 3.5em;
          font-size: 5em; } }
    .first-section .pre-register-image-container .subheading {
      font-family: azo-sans-web, sans-serif;
      font-style: normal;
      font-weight: 400;
      padding-top: 1em;
      padding-bottom: 1em;
      color: #fff;
      line-height: 3em;
      text-transform: uppercase;
      letter-spacing: 5px;
      font-size: 2vw; }
      @media (min-width: 768px) {
        .first-section .pre-register-image-container .subheading {
          font-size: 1.5em; } }
      .first-section .pre-register-image-container .subheading img {
        margin-top: -10px; }
    .first-section .pre-register-image-container .pre-register2 {
      color: #fff;
      background: #00b8f1;
      border: 2px solid #fff;
      font-size: 22px;
      padding: 8px 34px;
      margin-bottom: 1em; }
      .first-section .pre-register-image-container .pre-register2:hover {
        background: #00b8f1; }
      @media (min-width: 992px) {
        .first-section .pre-register-image-container .pre-register2 {
          margin-bottom: 2em; } }

.second-section .video-container {
  padding: 4em 0 4em; }
  @media (min-width: 992px) {
    .second-section .video-container {
      padding: 6em 0; } }

.third-section .jumbotron {
  padding: 0;
  background: #9a9a9a;
  background: -webkit-linear-gradient(left bottom, #9a9a9a, #e6e6e6);
  background: -o-linear-gradient(top right, #9a9a9a, #e6e6e6);
  background: -moz-linear-gradient(top right, #9a9a9a, #e6e6e6);
  background: linear-gradient(to top right, #9a9a9a, #e6e6e6); }
.third-section .roome-image {
  text-align: center; }
  .third-section .roome-image img {
    margin: 0 auto; }
  @media screen and (min-width: 992px) {
    .third-section .roome-image {
      text-align: left; } }
.third-section .description h1,
.third-section .description p {
  font-family: azo-sans-web, sans-serif;
  font-style: normal;
  font-weight: 400;
  text-align: center; }
  @media screen and (min-width: 992px) {
    .third-section .description h1,
    .third-section .description p {
      text-align: left; } }
.third-section .description h1 {
  font-size: 3.2em;
  padding: 3em 0 1em; }
.third-section .description p {
  font-size: 1.7em; }
  @media screen and (max-width: 992px) {
    .third-section .description p {
      padding-bottom: 3em; } }

.fourth-section .features {
  padding-top: 8em;
  padding-bottom: 8em; }
  .fourth-section .features .feature-row {
    padding: 2.5em 0; }
    .fourth-section .features .feature-row .feature-description {
      font-family: azo-sans-web, sans-serif;
      text-transform: uppercase;
      font-weight: 400;
      font-size: 1.8em;
      padding-top: 1.3em;
      letter-spacing: 2px; }
    .fourth-section .features .feature-row .feature-image {
      height: 130px;
      width: 130px; }
.fourth-section .left-column {
  padding-right: 0; }
.fourth-section .right-column {
  padding-left: 0; }
.fourth-section .buttons-row .more-info {
  color: #00b8f1;
  background: #fff;
  border: 2px solid #00b8f1;
  margin-right: 10px;
  margin-bottom: 1em; }
  .fourth-section .buttons-row .more-info:hover {
    background: #00b8f1;
    color: #fff; }
.fourth-section .buttons-row .pre-register {
  color: #fff;
  background: #00b8f1;
  border: 2px solid #fff; }
  .fourth-section .buttons-row .pre-register:hover {
    background: #00b8f1; }

.fifth-section {
  padding-top: 8em;
  padding-bottom: 8em; }
  .fifth-section .usage {
    padding-bottom: 1em;
    padding-right: 0; }
    @media screen and (min-width: 992px) {
      .fifth-section .usage {
        padding-bottom: 2em;
        padding-right: 15px; } }

.sixth-section .jumbotron {
  margin-bottom: 0;
  min-height: 350px;
  background: #00b8f1;
  background: -webkit-linear-gradient(left bottom, #00b8f1, #75d8f4);
  background: -o-linear-gradient(top right, #00b8f1, #75d8f4);
  background: -moz-linear-gradient(top right, #00b8f1, #75d8f4);
  background: linear-gradient(to top right, #00b8f1, #75d8f4); }
  .sixth-section .jumbotron .subscribe-container {
    text-align: center; }
    @media screen and (min-width: 768px) {
      .sixth-section .jumbotron .subscribe-container {
        text-align: left; } }
  .sixth-section .jumbotron .subscribe-heading {
    color: white;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 1.5em; }
    @media screen and (min-width: 768px) {
      .sixth-section .jumbotron .subscribe-heading {
        font-size: 2.5em; } }
  @media screen and (max-width: 992px) {
    .sixth-section .jumbotron .email-input {
      padding: 0; } }
  .sixth-section .jumbotron .input-lg {
    height: 60px; }
  .sixth-section .jumbotron .subscribe-button {
    background: #2d7fe4;
    color: #fff;
    height: 60px; }

.seventh-section .jumbotron {
  margin-bottom: 0;
  background-color: #f0f0f0; }
  @media screen and (max-width: 768px) {
    .seventh-section .jumbotron {
      text-align: center; } }
  .seventh-section .jumbotron .footer-container {
    padding-top: 2em;
    padding-bottom: 1em; }
  .seventh-section .jumbotron .share-logos img {
    padding-right: 5px; }
  .seventh-section .jumbotron .footer-logo, .seventh-section .jumbotron .share-logos {
    padding-top: 2em;
    padding-bottom: 2em; }

.default-button, .first-section .jumbotron .pre-register, .first-section .pre-register-image-container .pre-register2, .fourth-section .buttons-row .more-info, .fourth-section .buttons-row .pre-register, .sixth-section .jumbotron .subscribe-button {
  border-radius: 6px;
  text-transform: uppercase;
  font-family: azo-sans-web, sans-serif;
  display: inline-block;
  cursor: pointer;
  line-height: 2;
  letter-spacing: 2px;
  transition: all 0.3s ease-in-out; }
  .default-button:active, .first-section .jumbotron .pre-register:active, .first-section .pre-register-image-container .pre-register2:active, .fourth-section .buttons-row .more-info:active, .fourth-section .buttons-row .pre-register:active, .sixth-section .jumbotron .subscribe-button:active, .default-button:hover, .first-section .jumbotron .pre-register:hover, .first-section .pre-register-image-container .pre-register2:hover, .fourth-section .buttons-row .more-info:hover, .fourth-section .buttons-row .pre-register:hover, .sixth-section .jumbotron .subscribe-button:hover {
    text-decoration: none; }

/* 
    position: absolute;
    bottom: 45%;
    text-align: center;
    width: 90% 
    */

/*# sourceMappingURL=style.css.map */
